{
  "default" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,
    "maximumCorrection" : 999, //0.9, 

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 0.0,
    "speedLimit" : null
  },
  
  "weather" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,
    "maximumCorrection" : 999, //0.9, 

    "collisionPoly" : [ [-6, -6], [6, -6], [6, 6], [-6, 6] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 0.0,
    "speedLimit" : null
  },  

  "laser" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 1.0,
    "maxMovementPerStep" : 0.4,
    "groundSlideMovementEnabled" : false,
    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,
    "groundFriction" : 0,
    "airFriction" : 0.2,
    "liquidFriction" : 0.0,
    "speedLimit" : null
  },

  "bullet" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,
    "groundFriction" : 0,
    "airFriction" : 0.0,
    "liquidFriction" : 0.0,
    "speedLimit" : null
  },

  "grenade" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.6,
    "bounceFactor" : 0.7,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0
  },

  "grenadezbomb" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.6,
    "bounceFactor" : 0.7,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.5, -0.5], [0.5, -0.25], [0.5, 0.25], [-0.5, 0.5] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0
  },

  "arrow" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.25,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,
    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0
  },


  "grenadenobounce" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.6,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0
  },

  "firespread" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.6,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : false,

    "airFriction" : 1.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0
  },


  "bouncer" : {
    "mass" : 1.0,
    "gravityMultiplier" : 1.0,
    "bounceFactor" : 1.0,
    "groundSlideMovementEnabled" : true,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 1.0,
    "groundFriction" : 1.0
  },

  "sticky" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.0,
    "stickyCollision" : true,
    "stickyForce" : 20.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.5, -0.5], [0.5, -0.5], [0.5, 0.5], [-0.5, 0.5] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 1.0,
    "groundFriction" : 1.0
  },

  "stickybomb" : {
    "mass" : 1.0,
    "gravityMultiplier" : 1.0,
    "stickyCollision" : true,
    "stickyForce" : 20.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 1.0,
    "groundFriction" : 1.0
  },

  "flame" : {
    "mass" : 1.0,
    "gravityMultiplier" : -0.05,
    "stickyCollision" : false,
    "stickyForce" : 20.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 1.0,
    "groundFriction" : 1.0
  },

  "hover" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.0,
    "stickyCollision" : false,
    "stickyForce" : 20.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.5, -0.5], [0.5, -0.5], [0.5, 0.5], [-0.5, 0.5] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 2.5,
    "liquidFriction" : 1.0,
    "groundFriction" : 1.0
  },

  "bouncy" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.3,
    "bounceFactor" : 0.9,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0
  },

  "gravitybomb" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 0.9,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 2.5,
    "liquidFriction" : 2.5,
    "groundFriction" : 15.0
  },

  "slider" : {
    "mass" : 1.0,
    "gravityMultiplier" : 5.0,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,
    "groundSlideMovementEnabled" : true,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : false,

    "airFriction" : 2.5,
    "liquidFriction" : 2.5,
    "groundFriction" : -0.8
  },

  "orbitallaunch" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 0,
    "maxMovementPerStep" : 0.4,
    "groundSlideMovementEnabled" : false,
    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 0.0
  },

  "orbitalup" : {
    "mass" : 1.0,
    "gravityMultiplier" : -0.6,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0
  },

  "marioball" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.3,
    "bounceFactor" : 0.8,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 0.0
  },

  "spikeball" : {
    "mass" : 1.0,
    "gravityMultiplier" : 1.0,
    "stickyCollision" : true,
    "stickyForce" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 1.0,
    "groundFriction" : 1.0
  },

  "stickybullet" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 1.0,
    "maxMovementPerStep" : 0.4,
    "stickyCollision" : true,
    "stickyForce" : 50.0,
    "groundSlideMovementEnabled" : false,
    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,
    "groundFriction" : 0,
    "airFriction" : 0.0,
    "liquidFriction" : 0.0
  },

  "gas" : {
    "mass" : 1.0,
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 0.05,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 1.0,
    "liquidFriction" : 2.5,
    "groundFriction" : 15.0
  },

  "floatystickybomb" : {
    "mass" : 0.7,
    "gravityMultiplier" : 0.2,
    "stickyCollision" : true,
    "stickyForce" : 20.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.4,
    "liquidFriction" : 1.0,
    "groundFriction" : 1.0
  },

  "boomerang" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionBody" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : -2,
    "liquidFriction" : 0.0
  },

  "gravitybullet" : {
    "mass" : 0.7,
    "gravityMultiplier" : 0.2,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionBody" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.4,
    "liquidFriction" : 0.0
  },

  "snowball" : {
    "gravityMultiplier" : 0.2,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0
  },
  "friendlybubble" : {
    "gravityMultiplier" : 0.1,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 5.0,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0
  },
  "light" : {
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 1.0,
    "maxMovementPerStep" : 0.4,
    "groundSlideMovementEnabled" : false,
    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,
    "groundFriction" : 15.0,
    "airFriction" : 10.,
    "liquidFriction" : 12.0,
    "speedLimit" : null
  }
}
